<h1>Project members</h1>



					                                   

<table >
<tr>
<td><%=link_to image_tag("jens.jpg") %></td>
<td>
    <table>
    <tr><td><b><%="Jens Nielsen, PhD, dr.tech." %></td></tr>
        <tr><td><%="E-mail: nielsenj [at] chalmers.se"%></td></tr>
         <tr><td><%=link_to "Please read more here","http://sysbio.se/profiles/personal_Jens.html"%></td></tr>
    </table>
</td>
</tr>
</table>
<p>Prof. Jens Nielsen, is project director. His research group has extensive experience with metabolic modelling and database construction and will carry out most research activities for the project.</p>


<table >
<tr>
<td><%=link_to image_tag("adil.jpg") %></td>
<td>
    <table>
    <tr><td><b><%="Adil Mardinoglu, PhD." %></td></tr>
    <tr><td><br></td></tr>
    <tr><td><%="E-mail: adilm [at] chalmers.se"%></td></tr>

    </table>
</td>
</tr>
</table>
<p>Dr. Adil Mardinoglu is project manager. He will be involved in daily project management and will reconstruct functional genome-scale metabolic model for bone tissue. He will also simulate the interactions between liver, adipose, muscle and bone tissues in subjects having cachexia.</p>
<table >
<tr>
<td><%=link_to image_tag("partho.jpg") %></td>
<td>
    <table>
    <tr><td><b><%="Partho Sarathi Sen, PhD" %></td></tr>
    <tr><td><br></td></tr>
    <tr><td><%="E-mail: sarathi [at] chalmers.se "%></td></tr>

    </table>
</td>
</tr>
</table>
<p>TBA</p>

<table >
<tr>
<td><%=link_to image_tag("avlant.jpg") %></td>
<td>
    <table>
    <tr><td><b><%="Avlant Nilsson" %></td></tr>
    <tr><td><br></td></tr>
    <tr><td><%="E-mail: avlant "%></td></tr>

    </table>
</td>
</tr>
</table>
<p>TBA</p>

<table >
<tr>
<td><%=link_to image_tag("leif.jpg") %></td>
<td>
    <table>
    <tr><td><b><%="Leif Väremo" %></td></tr>
    <tr><td><br></td></tr>
    <tr><td><%="E-mail: varemo [at] chalmers.se  "%></td></tr>

    </table>
</td>
</tr>
</table>
<p>lief will work on the development of a simulation-ready genome-scale metabolic model (GEM) for skeletal muscle cells (myocytes). Further on, he will take part in the integration with other models, including a blood compartment, as well as the integration of omics data to assess the metabolic changes associated with diet, in different tissues.
</p>


<table >
<tr>
<td><%=link_to image_tag("shaq.jpg") %></td>
<td>
    <table>
    <tr><td><b><%="Shaq Hosseini" %></td></tr>
    <tr><td><br></td></tr>
    <tr><td><%="E-mail: Shaghayegh.Hosseini [at] chalmers.se  "%></td></tr>

    </table>
</td>
</tr>
</table>
<p>Shaq will work on developing online repository with tha ability to upload genome-scale metabolic model (GEM).</p>



